body{
    font-family: 13px, 'Inter', sans-serif;
}
span#mention {
    background-color: black;
    color: white;
}
span#mentionMsg{
    background-color: rgba(255, 0, 0, 0.3);
}
/* SeaGreen: rgb(46, 139, 87), Blue: rgb(0, 0, 255), OrangeRed: rgb(255, 69, 0)*/
span#Blue{
    color: rgb(0, 0, 255);
}
span#OrangeRed{
    color: rgb(255, 69, 0);
}
span#SeaGreen{
    color: rgb(46, 139, 87);
}
span#Chocolate{
    color: rgb(217,124,59);
}
span#Firebrick{
    color: rgb(187,58,58);
}
button{
    background-color: #9147ff;
    color: white;
    border: none;
}
span#mentionSomebody{
    background-color: #dedee3;
    color: #18181b;
}
a {
    text-decoration: none;
}