body{
    font-family: 13px, 'Inter', sans-serif;
}
span#mention {
    background-color: black;
    color: white;
}
span#mentionMsg{
    background-color: rgba(255, 0, 0, 0.3);
}
/* SeaGreen: rgb(46, 139, 87), Blue: rgb(0, 0, 255), OrangeRed: rgb(255, 69, 0)*/
span#UserBlue{
    color: rgb(0, 0, 255);
}
span#UserOrangeRed{
    color: rgb(255, 69, 0);
}
span#UserSeaGreen{
    color: rgb(46, 139, 87);
}
span#UserChocolate{
    color: rgb(217,124,59);
}
span#UserFirebrick{
    color: rgb(187,58,58);
}
button{
    background-color: #9147ff;
    color: white;
    border: none;
}
span#mentionSomebody{
    background-color: #dedee3;
    color: #18181b;
}
a {
    text-decoration: none;
}
span#bits1{
    color: #757575;
}
span#bits100{
    color: #a969f0;
}
span#bits1000{
    color: #29d1c3;
}
span#bits5000{
    color: #2e80e3;
}
span#bits10000{
    color: #fd5551;
}
span#bits100000{
    color: #f3a624;
}
